.navbar {
  display: flex;
  align-items: center;
  padding: 12px;
  margin-left: 12px;
  background-color: #f7f9fc;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-left: 80px;
  gap: 10px;
  background-color: #ebf0fb;
  width: 35%;
  border-radius: 30px;
  padding-left: 12px;
}
.search-bar:focus-within {
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
    0 1px 3px 1px rgba(65, 69, 73, 0.15);
}
.Search {
  padding: 15px;
  background-color: transparent;
  border: none;
  font-size: 16px;
}
.Search:focus {
  outline: none;
}
#search-options {
  margin-left: auto;
  padding-right: 15px;
}
.icone {
  font-size: 1676px;
}
.Navbar-right {
  margin-left: auto;
  gap: 15px;
  display: flex;
}
.Component-button {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #c3e7fe;
  padding: 15px;
  border-radius: 12px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.Component-button > span {
  font-size: 0.875rem;
  letter-spacing: normal;
}
.sidebar {
  width: 255px;
  background-color: #f7f9fc;
  position: fixed;
  height: 100%;
}
.sidebar-container {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  padding: 0;
  border-radius: 0px 20px 20px 0px;
  margin-top: 5px;
  margin-right: 20px;
}
.active {
  background-color: #d2e3fc;
  &:hover {
    background-color: #d2e3fc !important;
  }
}
.sidebar-container:hover {
  background-color: #eaebef;
}

.active > p {
  text-transform: capitalize;
  font-weight: 450;
  margin: 0;
  padding: 8px;
  font-size: 15px;
}
.sidebar-container > p {
  text-transform: capitalize;
  margin: 0;
  padding: 8px;
  font-size: 15px;
}
.sidebar-container > img {
  margin-left: 20px;
  font-size: small;
}
.count {
  font-size: 12px;
  font-weight: 450;
  margin-left: auto;
  margin-right: 10px;
}
.more {
  background-color: red;
  color: red;
}
.Mailbody {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 87.2%;
  position: fixed;
  left: 15.5pc;
  border-radius: 15px;
  padding-top: 15px;
}
.mailbox {
  width: 100%;
}

h5 {
  margin: 0;
  font-size: 15px;
}
table {
  width: 100%;
  border-collapse: collapse; 
}
td {
  padding: 9px;
  cursor: pointer;
}
th {
  cursor: pointer;
}
tbody > tr {
  box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
}
tbody > tr:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  z-index: 2;
}
thead th {
  padding: 5px;
  padding-bottom: 20px;
}